@{
    Layout = "_Layout";
}
<div class="noise"></div>
<div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
        <div class="col-lg-8 col-xl-7 col-xxl-6">
            <div class="my-5 text-center text-xl-start">
                <h1 class="display-5 mb-2 logo-text">ПЛАНУЙ СВОЄ<br>ЖИТТЯ</h1>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                    <a class="btn btn-lg   px-4 me-sm-3 start-button" asp-area="Identity" asp-page="/Account/Login">ПОЧАТИ</a>
                </div>
            </div>
        </div>

        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center lion-box"><div class="lion-back"></div><img class="lion img-fluid rounded-3 my-5" src="~/imgs/lion.png" alt="..."></div>
    </div>
</div>
